body {
    margin: 0px
}
.container {
    width: 100%;
    height: 26em;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Titulo{
    display: flex;
    justify-content: center;
    margin: 3rem 0px 4rem;
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
}

.boxMaior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 17rem;

}
.texto{
    display: flex;
    font-size:3ch;
    align-items: center;
    justify-content: center;
   align-content: center;
    text-align: center;
}
