main p{
    font-size: 1.5rem;
    margin: 1.5rem 0 0.5rem 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main div{
    width: 70%;
}

section.containerLobo{
    display: flex;
    flex-direction: row;
    margin: 2% 0;
    font-size:2.5em;
    font-weight:700;
}

section img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem 4rem;
}

input{
    border: none;
    border-bottom: solid;
    border-width: 0.1rem;
    width: 100%;
    height:30%;
    outline:none;
}

button{
    background-color: #2C5680;
    border: none;
    color: white;
    font-size: 1.4rem;
    padding: 0.7rem 3rem;
    margin: 2rem;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size:1.5em;
    font-weight:700;
}

.campoNome{
    width: 85%;
}

.campoIdade{
    width: 10%;
}

.campoEmail{
    width: 100%;
}

.scBtn{
    display: flex;
    justify-content: center;
}
